
<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Main Page</title>
</head>
<body ng-app="western">
<hr/>
<div class="container" ng-controller="UserController">
    <div class="row">
        <label>User</label> <input type="text" ng-model="userDto.userName" class="input-sm spacing"/>
        <label>FirstName</label> <input type="text" ng-model="firstName" ng-list class="input-sm custom-width spacing"/>
        <label>LastName</label> <input type="text" ng-model="lastName" ng-list class="input-sm custom-width spacing"/>
        <label>Email</label> <input type="text" ng-model="email" ng-list class="input-sm custom-width spacing"/>
        <label>BirthDay</label> <input type="text" ng-model="birthday" ng-list class="input-sm custom-width spacing"/>
        <button ng-click="saveUser()" class="btn btn-sm btn-info">Save User</button>
    </div>
    <hr/>
    <div class="row">
        <p>{{allUsers | json}}</p>
    </div>
    <hr/>
    <div class="row" ng-repeat="user in allUsers">
        <div class="">
            <h3>{{user.firstName}}</h3>
            <!--<span ng-repeat="skill in user.skillDtos" class="spacing">{{skill.skillName}}</span>-->
        </div>
    </div>
</div>
</body>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/js.app/js.app.js"></script>
<script src="js/js.app/UserController.js"></script>
<script src="js/js.app/UserService.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
<link rel="stylesheet" href="css/js.app/js.app.css"/>
</html>